*{
    font-size:18px;
}

/* selectores avanzados*/

/*Anidación*/

ul li{
    color:tomato
}

ol li{
    color:peru
}

#main-list li{
    color:slategray
}

.special-text ul{
    color:springgreen
}

/*Descendiente directo*/
.first-element > p{
    text-transform: uppercase;
}

/*selector de elementos subsecuentes*/
#another-list .active ~ li{
    color:lightgray
}

/*selector de elemento adyacente*/
#another-list .active + li{
    color:darkred
}


/*pseudoclases*/

/*primer hijo*/

#main-list li:first-child{
    background-color: gray; 
}

#main-list li:last-child{
    background-color: peru; 
}

#main-list li:nth-child(7){
    background-color:navy
}

#main-list li:nth-child(odd){
    font-family: 'Courier New', Courier, monospace;
    background-color: steelblue;
}

#main-list li:nth-child(even){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: pink;
}

form .form-group input:not(:checked) + p{
    transition: all 1s ease;
}

form .form-group input:checked + p{
   opacity: 1;
}


form{
    width:50%;
    border: 1px solid #ccc;
    border-radius:5px;
    background-color: slategray;
    padding: 1rem;
}

form .form-group label{
    color:white;
}

form .form-group p{
    opacity: 0;
}

.shape{
    transition: all 1s ease;
}

form input#square:checked ~ .shape{
    width:100px;
    height:100px;
    background-color: peru;
}

form input#rectangle:checked ~ .shape{
    width:200px;
    height:100px;
    background-color: purple;
}

form input#circle:checked ~ .shape{
    width:100px;
    height:100px;
    border-radius:100%;
    background-color: orangered;
}

@keyframes full-rotation{
    0%{
        transform: rotate(22deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

input.toggle-animation:checked + .line{
    animation: full-rotation 5s infinite linear;
}

.line{
    width: 100px;
    border: 1px solid red;
    height: 10px;
    background-color: red;
    transform: rotate(0deg);
}

*[class^="element"]{
    background-color:blue;
    width:100px;
    height:100px;
}

*[class$="1"]{
    background-color: red;
}

form .form-group label::before{
    content:"Iniciar animación";
    display: block;
}

form .form-group input[type="checkbox"]:checked ~ label::before{
    content:"Detener animación"
}

@keyframes rotateClock {
    0%{
        transform:rotate(0deg) translateX(50px);
    }

    100%{
        transform: rotate(360deg) translateX(50px);
    }
}

.clock-hand{
    width:100px;
    height:20px;
    background-image:linear-gradient(to right, red, orange);
    animation:rotateClock 2s infinite linear;
}

